# Football Predict Using Poisson Distribution
Feel free to try it with my dataset in another file

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import numpy as np

In [5]:
import seaborn as sns

In [6]:
from scipy.stats import poisson, skellam

In [16]:
grupG = pd.read_excel(r'C:\Users\Christopher Aryo\Desktop\Kompas Magang\Timnas Indonesia\Matches1.xlsx')

In [17]:
grupG.head()

   No    Tanggal       Home       Away  FTHG  FTAG Kondisi  Unnamed: 7 Skor
0   1 2014-09-14  Indonesia   Malaysia     2     0  Menang           1  2-0
1   2 2014-11-22    Vietnam  Indonesia     2     2    Seri           0  2-2
2   3 2016-06-09  Indonesia   Malaysia     3     0  Menang           1  3-0
3   4 2016-09-10  Indonesia    Vietnam     2     2    Seri           0  2-2
4   5 2016-11-08    Vietnam  Indonesia     3     2  Menang           1  3-2

In [9]:
grupG.mean()

Series([], dtype: float64)

In [24]:
skellam.pmf(0.0, grupG.mean()[0], grupG.mean()[1])

3.915685939222361e-11

In [25]:
skellam.pmf(1, grupG.mean()[0], grupG.mean()[1])

1.6510903979835231e-10

In [13]:
import statsmodels.api as sm

In [14]:
import statsmodels.formula.api as smf

# Modeling Distribution

In [18]:
goal_model_data = pd.concat([grupG[['Home','Away','FTHG']]
                             .assign(home=1).rename(columns={'Home':'Team',
                                                            'Away': 'Opponent',
                                                            'FTHG': 'Goal'}),
                            grupG[['Away','Home','FTAG']].assign(home=0).
                            rename(columns={'Away':'Team','Home':'Opponent',
                                           'FTAG':'Goal'})])

In [19]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

goal_model_data = pd.concat([grupG[['Home','Away','FTHG']].assign(home=1)
                             .rename(columns={'Home':'team','Away':'opponent',
                                             'FTHG':'goals'}),
                            grupG[['Away','Home','FTAG']].assign(home=0)
                            .rename(columns={'Away':'team','Home':'opponent',
                                            'FTAG':'goals'})])

poisson_model = smf.glm(formula='goals ~ home + team + opponent',
                       data=goal_model_data, family=sm.families.Poisson()).fit()

poisson_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  goals   No. Observations:                  144
Model:                            GLM   Df Residuals:                      134
Model Family:                 Poisson   Df Model:                            9
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -207.87
Date:                Wed, 21 Aug 2019   Deviance:                       149.48
Time:                        15:50:30   Pearson chi2:                     135.
No. Iterations:                     5
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                0.2621      0.258      1.017      0.309      -0.243       0.767
team[T.Malaysia]        -0.3683      0.253     -1.453      0.146      -0.865       0.128
team[T.Thailand]         0.0156      0.216      0.072      0.942      -0.408       0.439
team[T.UAE]              0.2839      0.209      1.357      0.175      -0.126       0.694
team[T.Vietnam]         -0.3493      0.242     -1.446      0.148      -0.823       0.124
opponent[T.Malaysia]     0.1087      0.207      0.525      0.600      -0.298       0.515
opponent[T.Thailand]    -0.4054      0.241     -1.682      0.093      -0.878       0.067
opponent[T.UAE]         -0.3856      0.252     -1.529      0.126      -0.880       0.109
opponent[T.Vietnam]     -0.1836      0.225     -0.816      0.414      -0.624       0.257
home                     0.5826      0.145      4.023      0.000       0.299       0.866
========================================================================================
"""

In [63]:
grupG

    No    Tanggal       Home       Away  FTHG  FTAG
0    1 2014-09-14  Indonesia   Malaysia     2     0
1    2 2014-11-22    Vietnam  Indonesia     2     2
2    3 2016-06-09  Indonesia   Malaysia     3     0
3    4 2016-09-10  Indonesia    Vietnam     2     2
4    5 2016-11-08    Vietnam  Indonesia     3     2
5    6 2016-11-19   Thailand  Indonesia     4     2
6    7 2016-12-03  Indonesia    Vietnam     2     1
7    8 2016-12-07    Vietnam  Indonesia     2     2
8    9 2016-12-14  Indonesia   Thailand     2     1
9   10 2016-12-17   Thailand  Indonesia     2     0
10  11 2018-11-17   Thailand  Indonesia     4     2
11  12 2012-09-15  Indonesia    Vietnam     0     0
12  13 2012-10-16    Vietnam  Indonesia     0     0
13  14 2012-12-01   Malaysia  Indonesia     2     0
14  15 2010-12-01  Indonesia   Malaysia     5     1
15  16 2010-12-07  Indonesia   Thailand     2     1
16  17 2010-12-26   Malaysia  Indonesia     3     0
17  18 2010-12-29  Indonesia   Malaysia     2     1
18  19 2008-12-16  Indonesia   Thailand     0     1
19  20 2008-12-20   Thailand  Indonesia     2     1
20  21 2008-06-06  Indonesia   Malaysia     1     1
21  22 2008-06-11  Indonesia    Vietnam     1     0
22  23 1981-09-02  Indonesia        UAE     5     2
23  24 1982-08-14        UAE  Indonesia     2     1
24  25 1986-10-01  Indonesia        UAE     2     2
25  26 1996-12-10        UAE  Indonesia     2     0
26  27 1985-02-28        UAE   Malaysia     2     0
27  28 1985-03-02        UAE   Malaysia     1     1
28  29 2007-06-21   Malaysia        UAE     1     3
29  30 2009-01-21   Malaysia        UAE     0     5
..  ..        ...        ...        ...   ...   ...
42  43 2013-11-19        UAE    Vietnam     5     0
43  44 2013-02-06    Vietnam        UAE     1     2
44  45 2007-10-28        UAE    Vietnam     5     0
45  46 2007-10-08    Vietnam        UAE     0     1
46  47 2007-07-08    Vietnam        UAE     2     0
47  48 2002-09-27        UAE    Vietnam     0     0
48  49 2018-12-05   Thailand   Malaysia     2     2
49  50 2018-12-01   Malaysia   Thailand     0     0
50  51 2014-12-20   Malaysia   Thailand     3     2
51  52 2014-12-17   Thailand   Malaysia     2     0
52  53 2014-11-26   Malaysia   Thailand     2     3
53  54 2012-12-13   Thailand   Malaysia     2     0
54  55 2012-12-09   Malaysia   Thailand     1     1
55  56 2012-11-07   Thailand   Malaysia     2     0
56  57 2018-12-15    Vietnam   Malaysia     1     0
57  58 2018-12-11   Malaysia    Vietnam     2     2
58  59 2018-11-16    Vietnam   Malaysia     2     0
59  60 2016-11-23   Malaysia    Vietnam     0     1
60  61 2014-12-11    Vietnam   Malaysia     2     4
61  62 2014-12-07   Malaysia    Vietnam     1     2
62  63 2014-11-16    Vietnam   Malaysia     3     1
63  64 2012-11-03    Vietnam   Malaysia     1     0
64  65 2019-06-05   Thailand    Vietnam     0     1
65  66 2015-10-13    Vietnam   Thailand     0     3
66  67 2015-05-24   Thailand    Vietnam     1     0
67  68 2012-11-30   Thailand    Vietnam     3     1
68  69 2008-12-28    Vietnam   Thailand     1     1
69  70 2008-12-24   Thailand    Vietnam     1     2
70  71 2008-12-06   Thailand    Vietnam     2     0
71  72 2008-11-16    Vietnam   Thailand     2     2

[72 rows x 6 columns]

In [18]:
poisson_model.predict(pd.DataFrame(data={'team':'Indonesia',
                                         'opponent':'Thailand','home':1},
                                  index=[1]))

1    1.55163
dtype: float64

In [19]:
poisson_model.predict(pd.DataFrame(data={'team':'Thailand',
                                        'opponent':'Indonesia','home':0},
                                  index=[1]))

1    1.32014
dtype: float64

In [21]:
def simulate_match(foot_model, homeTeam, awayTeam, max_goals=10):
    home_goals_avg = foot_model.predict(pd.DataFrame(data={'team':homeTeam,
                                                          'opponent':awayTeam,
                                                          'home':1},
                                                    index=[1])).values[0]
    away_goals_avg = foot_model.predict(pd.DataFrame(data={'team':awayTeam,
                                                          'opponent':homeTeam,
                                                          'home':0},
                                                    index=[1])).values[0]
    team_pred = [[poisson.pmf(i,team_avg) for i in range(0, max_goals+1)]
                for team_avg in [home_goals_avg, away_goals_avg]]
    return(np.outer(np.array(team_pred[0]), np.array(team_pred[1])))
simulate_match(poisson_model, 'Indonesia','Thailand', max_goals=3)

array([[0.05659865, 0.07471815, 0.04931922, 0.02170276],
       [0.08782016, 0.11593492, 0.07652517, 0.03367465],
       [0.0681322 , 0.08994405, 0.05936938, 0.0261253 ],
       [0.03523865, 0.04651996, 0.03070644, 0.01351227]])

In [22]:
Indo_Thai = simulate_match(poisson_model,"Indonesia","Thailand", max_goals=10)
np.sum(np.tril(Indo_Thai, -1))

0.42814959691861554

In [68]:
np.sum(np.diag(Indo_Thai))

0.2472952491739593

In [69]:
np.sum(np.triu(Indo_Thai, 1))

0.32455423054629245

In [70]:
simulate_match(poisson_model,'Thailand','Indonesia', max_goals=4)

array([[0.03954004, 0.03426181, 0.01484409, 0.00428751, 0.00092879],
       [0.09346998, 0.0809926 , 0.03509042, 0.01013539, 0.0021956 ],
       [0.11047834, 0.09573051, 0.04147568, 0.01197969, 0.00259513],
       [0.08705443, 0.07543347, 0.0326819 , 0.00943972, 0.0020449 ],
       [0.05144769, 0.0445799 , 0.01931445, 0.00557872, 0.0012085 ]])

In [72]:
simulate_match(poisson_model,'Thailand','Indonesia', max_goals=10)
np.sum(np.tril(Indo_Thai, -1))

0.42814959691861554

In [74]:
Indo_Viet = simulate_match(poisson_model,'Indonesia','Vietnam', max_goals=10)
np.sum(np.tril(Indo_Viet,-1))
#Indonesia Menang

0.6124041143349271

In [76]:
np.sum(np.diag(Indo_Viet))
#Hasil Seri

0.21542069298509334

In [77]:
np.sum(np.triu(Indo_Viet,1))
#Vietnam Menang

0.17216900563867057

In [78]:
Indo_Malay = simulate_match(poisson_model,'Indonesia','Malaysia', max_goals=10)
np.sum(np.tril(Indo_Malay,-1))
#Indo Menang

0.7374863402094876

In [84]:
np.sum(np.diag(Indo_Malay))
#Hasil Seri

0.15506169498276398

In [85]:
np.sum(np.triu(Indo_Malay,1))
#Malaysia Menang

0.10736677472532669

In [81]:
Indo_UAE = simulate_match(poisson_model,'Indonesia','UAE',max_goals=10)
np.sum(np.tril(Indo_UAE,-1))
#Indo Menang

0.35513388065721374

In [86]:
np.sum(np.diag(Indo_UAE))
#Hasil Seri

0.22929285286574286

In [87]:
#UAE Menang
np.sum(np.triu(Indo_UAE,1))

0.41557023210925925

In [88]:
UAE_Indo = simulate_match(poisson_model,'UAE','Indonesia', max_goals=10)
np.sum(np.tril(UAE_Indo,-1))
#UAE Menang

0.80773536818716

In [89]:
np.sum(np.diag(UAE_Indo))
#Seri

0.11777695110368139

In [90]:
#Indonesia Menang
np.sum(np.triu(UAE_Indo,1))

0.07411280227310416

In [91]:
Malaysia_Indo = simulate_match(poisson_model,'Malaysia', 'Indonesia', max_goals=10)
np.sum(np.tril(Malaysia_Indo,-1))
#Malaysia Menang

0.4154022201019698

In [92]:
np.sum(np.diag(Malaysia_Indo))
#Seri

0.2394741367141924

In [93]:
np.sum(np.triu(Malaysia_Indo,1))
#Indonesia Menang

0.3451221581603289

In [94]:
Viet_Indo = simulate_match(poisson_model,'Vietnam','Indonesia',max_goals=10)
np.sum(np.tril(Viet_Indo,-1))
#Vietnam Menang

0.504055646375188

In [95]:
np.sum(np.diag(Viet_Indo))
#Seri

0.2454756931226494

In [96]:
np.sum(np.triu(Viet_Indo,1))
#Indonesia Menang

0.2504673328295269

In [97]:
Thai_Indo = simulate_match(poisson_model,'Thailand','Indonesia',max_goals=10)
np.sum(np.tril(Thai_Indo,-1))
#Thailand Menang

0.7070097560591064

In [99]:
np.sum(np.diag(Thai_Indo))
#Seri

0.17276144992290257

In [117]:
np.sum(np.triu(Thai_Indo,1))
#Indo Menang

0.12019115582545661

In [114]:
grupG['Home'].count()

72

In [22]:
UAE_Thai = simulate_match(poisson_model,'UAE','Thailand',max_goals=10)
np.sum(np.tril(UAE_Thai,-1))
#UAE Menang

0.6429059805301248

In [23]:
np.sum(np.diag(UAE_Thai))
#seri

0.2025438682420583

In [24]:
np.sum(np.triu(UAE_Thai,1))
#UAE Kalah

0.15453919928839852

In [25]:
UAE_Viet = simulate_match(poisson_model,'UAE','Vietnam',max_goals=10)
np.sum(np.tril(UAE_Viet,-1))
#UAE Menang

0.7937126462078712

In [26]:
np.sum(np.diag(UAE_Viet))
#SERI

0.13802735840311806

In [27]:
np.sum(np.triu(UAE_Viet,1))
#UAE Kalah

0.06818080160348661

In [29]:
UAE_Mal = simulate_match(poisson_model,'UAE','Malaysia',max_goals=10)
np.sum(np.tril(UAE_Mal,-1))
#UAE Menang

0.8872234516932302

In [30]:
np.sum(np.diag(UAE_Mal))
#Seri

0.07803811579260268

In [31]:
np.sum(np.triu(UAE_Mal,1))
#UAE kalah

0.03383555071384005